@model OdeToFood.Models.Restaurant

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<div> ... details .... </div>
<div>
    @*@Html.ActionLink("Back", "Index", "Home");*@
    @Html.ActionLink("Home", nameof(HomeController.Index), "Home");
</div>
