@model OdeToFood.ViewModels.HomePageViewModel



<h1>Welcome!</h1>

    <div>This is the home page</div>
    <hr/>
    <table >
        @foreach (var restaur in Model.Restaurants)
        {
            <tr>
                <td>Restaurant: </td>
                @*<td> <a href="/home/details/@restaur.Id"> @restaur.Name</a></td>*@ 
                <td> @Html.ActionLink(restaur.Name,"Details","Home", new { id = restaur.Id })</td>
            </tr>
        }
    </table>
@section _footer
{
    <h2>@Model.CurrentMessage</h2>
}
