@model OdeToFood.ViewModels.HomePageViewModel



<h1>Welcome!</h1>

    <div>This is the home page</div>
<hr/>

@foreach (var restaur in Model.Restaurants)
{

    @Html.Partial("_Summary", restaur)

}

<div>
    <a asp-controller="Home" asp-action="Create">Create</a>
</div>

