@model OdeToFood.ViewModels.HomePageViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>OdeToFood</title>
</head>
<body>
<div>
    <h1>@Model.CurrentMessage</h1>
    <div>This is the home page</div>
    <hr/>
    <table >
        @foreach (var restaur in Model.Restaurants)
        {
            <tr>
                <td>Restaurant: </td>
                <td>@restaur.Name</td>
            </tr>
        }
    </table>
</div>
</body>
</html>