<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a href="" class="navbar-brand">OdeToFood</a>
            </div>
            <div class="navbar-right">
                @await Component.InvokeAsync("LoginLogout")
            </div>
        </div>
    </nav>




<div>
    @RenderBody()
</div>
<footer>
    @RenderSection("_footer", required: false)
    @await Component.InvokeAsync("Greeting")
    <environment names="Development">
        <script src="/node_modules/jquery/dist/jquery.js"></script>
        <script src="/node_modules/jquery-validation/dist/jquery.validate.js"></script>
        <script src="/node_modules/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment Names="Staging, Production">
        <script src="internet Address of source"
                asp-fallback-src="/node_modules/jquery/dist/jquery.js"
                asp-fallback-test="window.JQuery">
        </script>
        <script>
            //So on.......
        </script>
        <script>
            
        </script>
    </environment>

</footer>
</body>
</html>
